<h1>Edit a Landmark</h1>
<form action="/landmarks/<%= @landmark.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h3>Name: <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>"></h3>
  <h3>Year Completed: <input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>"></h3>
  <input type="submit" value="Edit Landmark">
</form>
