<h1>Edit a Figure</h1>
<form action="/figures/<%= @figure.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch"></input>

<h3>Edit Name: <input type="text" name="figure[name]" id="figure_name" value="<%= @figure.name %>"></input></h3>

<h3>Edit Title:</h3>
<!-- # <% binding.pry %>
# <% @figure.titles.each do |title| %>
#
#  <input type="checkbox" name="figure[title_ids][]" id="title_ids"<%= 'checked' if @figure.titles.include?(title) %>><%= title.name %></input>
#
# <% end %> -->

  <input type="text" name="title[name]" id="new_title" ></input>


<h3>Edit Landmark</h3>
 <p>Name: <input type="text" name="landmark[name]" id="new_landmark"></input></p>
 <p>Year: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></input></p>

 <input type="submit" value="Edit Figure"></input>
 </form>
